<ion-view view-title="Account">
  <ion-content ng-controller="MapController">
            <img class="full-image" src="img/logo.png">
            <button class="button button-full button-balanced">
                List Of Gyms
            </button>
            <button class="button button-full button-balanced" ng-click="http://ionicframework.com/docs/components/#buttons">
                Sports News
            </button>
            <div id="map" data-tap-disabled="true"></div>




        </ion-content>
</ion-view>
